  /*
    Selection d'une paire de couleur avec :
    https://jxnblk.github.io/hello-color/
    Le design est clairement basé sur ce site;

    #f1eedc white break : #0c0e1c dark blue
     
     */
/*******************/
/*******************/
/**Anim & fontface**/
/*******************/
/*******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

@keyframes moving-cube{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(90deg);
    }
}
/*******************/
/*******************/
/*****Big Lines*****/
/*******************/
/*******************/

.lines{
  width: 100vh;
  height: 1px;
  background-color: var(--second-bg-color);
}

/*******************/
/*******************/
/*******GLOBAL******/
/*******************/
/*******************/

*
{
  box-sizing: border-box;
}

body
{
  padding: 0;
  background-color: var(--main-bg-color);
  max-width: 100vw; 
  margin: 0 auto;
  color: var(--primary-text-color);
  font-family: var(--font-roboto);
}
main
{
  min-height: calc(100vh - 190px);
  padding-top: 5vh;
  font-size: 1vw;
}
.flex-list
{
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  font-family: var(--font-roboto);
  font-weight: 100;
}

/*******************/
/*******************/
/*******NAVBAR******/
/*******************/
/*******************/
.animate-cube
{
    height: 50px;
    width: 50px;
    background-color: var(--second-bg-color);
    animation: moving-cube 2s normal;
}
.main-menu
{
 height: 120px;
}
.main-menu ul
{
  font-size: 2em;
  margin: 0;
  padding: 40px;
}
ul a
{
  color: inherit;
  text-decoration: none;
}
/*******************/
/*******************/
/*******FOOTER******/
/*******************/
/*******************/
.circle
{
  background-color: var(--second-bg-color);
  width:25px;
  height:25px;
  border-radius: 100%;
  position: relative;
  
}

footer
{
  height: 50px;
  position: fixed;
  bottom: 0;
  justify-content: flex-end;
  width: 67%;
}
footer .flex-list {
  margin: 0;
  gap: 10px;
  justify-content: flex-start;
}
.social-network
{
  width: 32px;
  height: 32px;
  align-self: start;
}
.linked-in{
  background-color: var(--second-bg-color);
  mask: url(../img/linkedin.svg) no-repeat center/contain;
  mask-mode: luminance;
}
.github{
  background-color: var(--second-bg-color);
  mask: url(../img/github.svg) no-repeat  center/contain;
}
/*******************/
/*******************/
/***INDEX.HTML******/
/*******************/
/*******************/

.title-moving-words
{
  display: flex;
  margin-left: 5vw;
}
.title-moving-words section{
  font-weight: 900;
  font-size: 6em;
  letter-spacing: 20px;
  padding: 25px;
  text-transform: uppercase;
 
}
.title-moving-words .hello
{
  color: var(--main-bg-color);
  background-color: var(--second-bg-color);
}
.title-moving-words .change-word
{
  color: var(--primary-text-color);
}

.about-myself
{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: end;
  margin: 10px;
  font-weight: 100;
}
.about-myself section
{
  margin-right: 2vw;
  width: 35%;
  columns: 2;
  margin-top: 10vh;
}
.about-myself a 
{
  align-self: flex-end;
  margin-right: 8%;
}
.about-myself a button:hover
{
  cursor: pointer;
}
.about-myself a button
{
  margin-top: 2%;
  padding: 20px 45px 20px 45px;
  background-color: var(--main-bg-color);
  font-size: 20px;
  color: var(--primary-text-color);
  border-radius: 30px 0 30px 0;
  border: 1px solid var(--second-bg-color);
  font-family: var(--font-roboto);
  font-weight: 100;
}

/*******************/
/*******************/
/***INDEX.HTML******/
/***MEDIA***********/
/*******************/
@media (max-width: 1280px) 
{
 .title-moving-words section
 {
  font-size: 4em;
 }
 .about-myself
 {
   align-items: center;
 }
 .about-myself section
 {
  width: 50vw;  
 }
}
/*******************/
/*******************/
/***PROJET.HTML*****/
/*******************/
/*******************/
h2
{
  font-size: 3em;
  text-align: center;
  margin: 0;
}
.all-cards
{
  display: grid;
  gap: 2rem;
  padding: 1rem;
  max-width: 75%;
  margin: 0 auto;
  font-family: var(--font-roboto);
}

@media (min-width: 600px)
{
  .all-cards
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .card
  {
    min-height: 400px;
  }
}
@media (min-width: 800px)
{
  .all-cards
  {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1281px)
{
  .card
  {
    min-height: 600px;
  }
}
.card
{
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: #f1eedc;
  background-color: #f1eedc;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 2px 
  rgba(255, 255, 255, 0.1), 0 4px 4px rgba(255, 255, 255, 0.1), 0 8px 8px rgba(255, 255, 255, 0.1), 0 16px 16px rgba(255, 255, 255, 0.068);
  height: 70%;
  }

  .card:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none
  }
  .card:after
  {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.790) 100%);
    transform: translately(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  } 

.card:nth-child(1):before
{
  background-image: url(https://i.picsum.photos/id/1002/4312/2868.jpg?hmac=5LlLE-NY9oMnmIQp7ms6IfdvSUQOzP_O3DPMWmyNxwo);
}
.card:nth-child(2):before
{
  background-image: url(https://i.picsum.photos/id/1015/6000/4000.jpg?hmac=aHjb0fRa1t14DTIEBcoC12c5rAXOSwnVlaA5ujxPQ0I);
}
.card:nth-child(3):before
{
  background-image: url(https://i.picsum.photos/id/1073/5472/3648.jpg?hmac=xCDetU9pLnLGZopbvHOQOkQRhTiYwyrzWc0YyHPzp5Y);
}
.card:nth-child(4):before
{
  background-image: url(https://i.picsum.photos/id/1075/4858/3239.jpg?hmac=YSCuWp376_Eij3ipRSoYhDKZ5nzGLKeQneQhDgY1qK4);
}

.content
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1 ;
}

content > * + *
{
  margin: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.description
{
  font-family: var(--font-roboto);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
.card-button
{
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #f1eedc;
  background-color:#0c0e1c;
  border: none;

}
.btn:hover
{
  background-color: #0d0d0d;
}
.btn:focus 
{
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
@media (hover : hover) and (min-width: 600px)
{
  .card:after 
  {
    transform: translateY(0);
  }
  .content
  {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title)
  {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card:hover, .card:focus-within
  {
    align-items: center;
  }
  .card:hover:before, .card:focus-within:before
  {
    transform: translateY(-4%);
  }
  .card:hover:after, .card:focus-within:after
  {
    transform: translateY(-50%);
  }
  .card:hover .content, .card:focus-within .content
  {
    transform: translateY(0);
  }
   .card:hover .content > *:not(.title), .card:focus-within .content> *:not(.title)
   {
     opacity: 1;
     transform: translateY(0);
     transition-delay: calc(var(--d / 8));
   }
   .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title)
   {
     transition-duration: 0s;
   }
}

/*******************/
/*******************/
/******CONTACT******/
/*******************/
/*******************/
.contact-form
{
  margin: auto;
}
.discuss
{
  width: 45%;
  margin: auto;
  text-align: center;
}
.discuss p 
{
  font-size: 1.5em;
}
.form-name
{
  grid-area: a;
}
.form-subname
{
  grid-area: b;
}
.form-phone
{
  grid-area: c;
}
.form-mail
{
  grid-area: d
}
.form-message
{
  grid-area: e;
}
.form-button
{
  grid-area: f;
}
.stamp {
  width : 80px;
  height: 100px;
  background-color: grey;
  align-self: center;
  justify-self: end;
  grid-area: g;
  background-image: url("../img/timbre.jpg");
  background-size: cover;
}
.form{
  display: grid;
  width: 50%;
  grid-template: "a b g"
                 "c d g"
                 "e e e"
                 "f f f";
  background-color: var(--second-bg-color);
  border: 4px dashed var(--main-bg-color);
  margin: auto;
  padding: 2%;
}
.form article
{
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.form article input
{
  min-height: 28px;
  background-color: var(--main-bg-color);
  border: none;
  width: 90%;
  color: var(--primary-text-color);
}
.form .form-message input[type="message"]
{
  width: 100%;
  padding-bottom: 160px;
}
.form article label
{
  min-width: 200px;
  color: var(--secondary-text-color);
  font-size: 1.7em;
}
.form .form-button
{
  background-color: unset;
  color: var(--secondary-text-color);
  font-size: 2em;
  font-family: var(--font-roboto);
  font-weight: 100;
  width: 20%;
  border: 2px solid var(--main-bg-color); 
  margin: 25px auto auto;
  
}